@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #282A2E;
}

.comment {
  color: #969896;
}

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: #CED1CF;
}

.variable, .support.other.variable, .string.other.link, .string.regexp, .entity.name.tag, .entity.other.attribute-name {
  color: #CC6666;
}

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: #DE935F;
}

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: #F0C674;
}

.string, .constant.other.symbol, .entity.other.inherited-class, .markup.heading {
  color: #B5BD68;
}

.keyword.operator, .constant.other.color {
  color: #8ABEB7;
}

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level {
  color: #81A2BE;
}

.keyword, .storage, .storage.type, .entity.name.tag.css {
  color: #B294BB;
}

.invalid {
  color: #CED2CF;
  background-color: #DF5F5F;
}

.meta.separator {
  color: #CED2CF;
  background-color: #82A3BF;
}

.invalid.deprecated {
  color: #CED2CF;
  background-color: #B798BF;
}
